body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef3f7;
}

.about-section {
    padding: 40px 20px;
    background-color: #f9fafb;
    text-align: left;
}

.about-section h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #404040;
    position: relative;
    text-decoration: underline 10px #FF9933;
    text-underline-offset: 10px;
}

.about-item {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.about-item img {
    width: 20%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #2b7b83;
    position: relative;
   
}

.about-item .text {
    max-width: 100%;
    text-align: center;
}

.about-item h2 {
    font-size: 1.75rem;
    color: #22BBEA;
    margin-bottom: 20px;
}
.about-item features{
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    position:relative;
}

.about-item p {
    font-size: 20px;
    color: #555;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 10px;
    width:60vw;
}

.features ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 20px;
    width: 60vw;
}

.features li {
    margin-bottom: 20px;
}

.features li strong {
    color:#CC6600;
}

/* Responsive Design */
@media (min-width: 768px) {
    .about-item {
        flex-direction: row;
        align-items: flex-start;
    }
   

    .about-item img {
        
        margin-right: 20px;
    }

    .about-item .img1{
        
        top:4rem;
    }

    .about-item .text {
        max-width: 600px;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .about-section {
        padding: 60px 40px;
    }

    .about-item {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .about-item img {
        max-width: 400px;
    }
}
