/* Container du formulaire */
.form-container {
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 450px; /* Taille maximale pour les grands écrans */
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Ombre douce pour créer de la profondeur */
  background-color: #fff; /* Arrière-plan blanc pour un contraste propre */
  transition: all 0.3s ease-in-out;
}

.form-container h2 {
  text-align: center;
  color: #2E3A59; /* Couleur moderne et agréable pour les titres */
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #333; /* Couleur douce pour le texte des labels */
  font-size: 1rem;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Bordures plus douces */
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #e87c33; /* Bordure orange lors du focus */
  outline: none;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #e87c33;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d46f29; /* Couleur plus foncée au survol */
}

.back-btn1 {
  margin-left: 20px;
  color: #e87c33;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.back-btn1:hover {
  color: #d46f29;
}

/* Styles pour le tableau des étudiants */
.students-table-container {
  margin-top: 20px;
}

.students-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.students-table th, .students-table td {
  border: 1px solid #ddd;
  padding: 12px;
  font-size: 0.9rem;
  text-align: left;
}

.students-table th {
  background-color: #f4f4f4;
  font-weight: 600;
  color: #333;
}

.students-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.students-table tr:hover {
  background-color: #ddd;
}

/* Responsive Design: Ajustements pour différentes tailles d'écrans */
@media (max-width: 768px) {
  .form-container {
    max-width: 80%;
    padding: 15px;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  .form-group input {
    padding: 8px;
    font-size: 0.9rem;
  }

  button {
    padding: 10px;
    font-size: 0.9rem;
  }

  .students-table th, .students-table td {
    padding: 10px;
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .form-container {
    width: 40%;
    padding: 15px;
  }
  .form-container h2 {
    font-size: 1.5rem;
  }

  .form-group input {
    padding: 6px;
    font-size: 0.85rem;
  }

  button {
    padding: 8px;
    font-size: 0.85rem;
  }

  .students-table th, .students-table td {
    padding: 8px;
    font-size: 0.8rem;
  }
}
