.body1 {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 500px;
    width: 90vh;
    text-align: center;
}
.formGroup{
    color: #333;
    background-color:#FF9933;
}

.bodyContent{
    margin-top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh ;
    background-color: #f0f8ff;
    padding: 20px;
    margin-left:10px;
    width: 90vh;
}

.container{
    width: 100px;
    height:100px;
}
.bodyContent1{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh ;
    background-color: #f0f8ff;
    padding: 20px;
    margin-left:90px;
    width: 1400px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.bodyCon{
    margin-left:10px;
    margin-right:0px;
    margin-top:8px;
    width:65%;
    height:50vh;
    
}
.titre{
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #4facc4;
    padding-bottom: 10px;
    
}
.tableContainer{
    height: 500px;
    overflow-y: auto;
    width: 1100px;
}
 .studentsTable {
    width: 100%;
    margin-right:0px;
    border-collapse : collapse;
}
.thead {
    position: sticky;
    top: 0;
    background-color: #FF9933;
    z-index: 1 ;
}
.th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.btn {
    background-color: #FF9933;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    padding: 12px 20px;
    width: 250px;
    text-decoration: none;
    text-align :center;
    cursor: pointer;
    margin: 5px auto;
    transition: background-color 0.3s ease;

} 
.bodyCon1{
    margin-left:10px;
    margin-right:0px;
    margin-top:-15px;
    width:100%;
    height:20%;
    text-transform: lowercase;
}
.th{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    text-transform: lowercase;
}
.td{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    text-transform: lowercase;
}
.tr{
    margin-top: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 100%;
}
@media (max-width: 360px) {
    .bodyCon1 {
        width: 20%;
        height: 20%;
        text-transform: lowercase;
    }
    .titre2{
        font-size: 12px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
        border-bottom: 2px solid #4facc4;
        padding-bottom: 10px;
        margin-top: 25px;
    }
    .th{
        padding: 5px;
        text-transform: lowercase;
        font-size: small ;
    }
    .td{
        padding: 5px;
        text-transform: lowercase;
        font-size: small ;
        margin-top: 10px;
    }
    .tr{
        margin-top: 5px;
        margin-bottom: 5px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        width: 40%;
        font-size: small;
    }
  }
/*setting*/
@media (max-width: 360px) {
   .bodyCo{
    margin-left: -100px;
    margin-top:-18px;
    width:55%;
    height:20%;
   }
   .formGroup1{
    margin-bottom: 20px;
    color: #333;
    background-color:transparent;
    flex-direction: column;
   }
   .body1{
    background-color: transparent;
    border-radius: 10px;
    box-shadow: none;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-left: -230px;
   }
   .cancelButton{
    margin-left: 5px;
   }
}
.bodyCo{
    margin-left:250px;
    margin-right:0px;
    margin-top:-18px;
    width:75%;
    height:20%;
}
 
.formGroup1{
    margin-bottom: 20px;
    color: #333;
    background-color:transparent;
    flex-direction: column;
}
.input1{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #000;
    width: 100%;
    margin-bottom: 10px;
    flex-direction: column;
}
 .titre1 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-decoration: #CC6600 underline;
}
.label{
    text-transform:initial;
    font-size: small;
}

.card {
    width: 300px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    margin-left:5px;
}

.profileImageContainer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px auto;
    border: 2px solid #3FB9D7;
}
.profileImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileName {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin: 10px 0 5px 0;
}
.profileTitle {
    font-size: 14px;
    color: #777777;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
.input {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #140707;
    font-size: 12px;
    margin-left: 50px;
}
.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancelButton {
    background-color:#22BBEA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
   
}
.saveButton {
    background-color: #4facc4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
   
}   

.notificationContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2C2C2C;
    border-radius: 10px;
    color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.notificationHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #555555;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width:1200px;
}
.closeButton {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.closeButtonHover {
    color: #FF9933;
}
.notificationMenu {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #555555;
    padding-bottom: 10px;
}

.menuItem {
    background: none;
    border: none;
    color: #AAAAAA;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 5px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
.active {
    color: #FF9933;
    border-bottom: 2px solid #FF9933;
}
.notificationList {
    max-width: 250px;
    overflow-y: auto;
    scrollbar-width: thin;
}
.notificationItem {
    padding: 10px 0;
    border-bottom: 1px solid #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notificationTime {
    color: #AAAAAA;
    font-size: 14px;
}

.content {
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.carde {
    width: 450px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.logoutButton{
    background-color: #FF9933;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.cancelbtn {
    background-color: white;
    color: #FF9933;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid #FF9933;
    cursor: pointer;

 
}
.verificationButton {
    background-color:#22BBEA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.verificationButtonHover {
    background-color:#22BBEA;
}

