h1 {
  text-align: center;
  text-decoration: underline 6px #CC6600;
  color: #0b0801;
  text-decoration-color:#FF9933; 
  margin-top: 10px;
}
/* button.google-login-button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
}

button.google-login-button svg {
  height: 24px;
}

button.google-login-button:hover {
  transform: scale(1.02);
}

.login-button {
  text-decoration: none;
} */


.container1 {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.option1 {
  background-color:#22BBEA;
  color: white;
  text-align: center;
  padding: 2%;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.7s ease;
  width: 100vw;
  height: auto;
  max-width: 300px;
  margin-bottom: 20px;
}

.option1 .icon {
  background-color:#FF9933;
  width: 150vh;
  height: 150vh;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin: 0 auto 10px;
}
.icon img {
  width: 88%;
  height: 88%;
  object-fit: cover;
  
}

.option1 .titre {
  font-size: 20px;
  font-weight: bold;
  color: #0b0801;
  justify-content: center;
}

.option1 button {
  background-color: #130d07;
   display: flex;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;  
}

.option1 button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: -2px;
}

.option1:hover {
  transform: scale(1.05);
}

.expanded {
  transform: scale(1.05) !important;
}

/* Media queries for different screen sizes */

@media (min-width: 600px) {
  .option1 {
      width: 45vw;
  }
}

@media (min-width: 768px) {
  .option1 {
      width: 30vw;
  }

  .option1 .icon {
      width: 20vw;
      height: 20vw;
  }
}

@media (min-width: 1024px) {
  .option1 {
      width: 20vw;
  }

  .option1 .icon {
      width: 10vw;
      height: 10vw;
  }
}
