body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.back-Valisoa {
  background-color: #e87c33;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  width: 90px;
}

/* Conteneur du formulaire */
.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}
.subm1{
  width: 100px;
  border-radius: 5px;
  background-color: #00bfa6;
  margin-left: 280px;
  font-size:small;
  color: black;
  text-decoration: underline #00bfa6 ;
  transition: 0.3s ease;
  cursor: pointer;
}

.subm1:hover{
  background-color:#FF9933;
  color: #333333;
  text-decoration: underline#FF9933;
  transition: 0.3s ease;
  cursor: pointer;
}

.form-container h2 {
  text-align: center;
  color: #e87c33;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #333333;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.form-group input[type="text"]:focus,
.form-group select:focus {
  border-color: #e87c33;
  outline: none;
}

.date-group,
.time-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.date-group input,
.time-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #e87c33;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: translateY(-3px);
}

/* Responsive design */
@media (max-width: 768px) {
  .form-container {
    padding: 20px;
    max-width: 100%;
  }

  .date-group,
  .time-group {
    flex-direction: column;
  }

  .date-group input,
  .time-group input {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {
  .form-container h2 {
    font-size: 20px;
  }

  .form-group input[type="text"],
  .form-group select {
    font-size: 14px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
  .subm1{
    width: 60px;
    font-size: 0.65rem;
    margin-left: 130px;
    margin-top: -2px;
  }
  .subm1:hover{
    font-size: 0.7rem;
    color: #e87c33;
    
  }
}
