.footer {
  background-color:#009DE1;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 40px;
  flex-wrap: wrap;
}

.footer__section {
  flex: 1;
  margin: 10px;
}

.footer__section h3 {
  margin-bottom: 15px;
  font-size: 24px;
  color:#404040;
}
.footer__section1 {
  margin-bottom: 15px;
  font-size: 24px;
  color:#404040;
  margin-left: -250px;
}


.footer__contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer__icon {
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.footer__logo-container {
  margin-top: 20px;
}

.footer__logo {
  height: 90px;
  margin-top: 55px;
}

.footer__links {
  list-style: none;
  padding: 0;
}

.footer__links li {
  margin-bottom: 10px;
}

.footer__links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__links a:hover {
  color:#FF9933;
  transition: color 0.3s ease;
  text-decoration: none;
  font-size: 20px;
}

.footer__social-icons a {
  color: white;
  font-size: 18px;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.footer__social-icons img {
  height: 30px;
  width: 30px;
}
.footer__social-icons img:hover {
  border:#22BBEA solid 5px transparent;
}
.footer__contact-item a{
  color: white;
}


.footer__bottom {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__section {
    width: 100%;
    margin: 20px 0;
  }

  .footer__bottom {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 20px;
  }

  .footer__logo {
    height: 80%;
  }

  .footer__icon, .footer__social-icons img {
    height: 16px;
    width: 16px;
  }
}
@media (max-width: 360px) {
  .footer__section1 {
    margin-bottom: 15px;
    font-size: 24px;
    color:#404040;
    margin-left: -20px;
  }
  .footer__logo {
    height: 80%;
  }
}
