/* Variables CSS pour faciliter la gestion des couleurs */
:root {
  --primary-color: #007C89;
  --secondary-color: #FF8C00;
  --secondary-hover-color: #E07700;
  --text-color: white;
  --background-hover-color: rgba(255, 255, 255, 0.2);
  --border-radius: 20px;
}

.header {
  background-color: var(--primary-color);
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.header__logo img {
  height: 50px;
  width: auto;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu-item {
  margin-right: 24px;
}

.header__link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.header__link:hover,
.header__link--active {
  background-color: var(--background-hover-color);
}

.header__button {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.header__button:hover {
  background-color: var(--secondary-hover-color);
}
