/* Variables CSS pour faciliter la gestion des couleurs */
:root {
  --primary-color: #007C89;
  --secondary-color: #FF8C00;
  --secondary-hover-color: #E07700;
  --text-color: white;
  --background-hover-color: rgba(255, 255, 255, 0.2);
  --border-radius: 20px;
}

.header {
  background-color: var(--primary-color);
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.header__logo img {
  height: 50px;
  width: auto;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.header__menu-item {
  margin-right: 24px;
}

.header__link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.header__link:hover,
.header__link--active {
  background-color: var(--background-hover-color);
}

.header__button {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.header__button:hover {
  background-color: #22bbea;
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .header {
    padding: 12px 20px;
  }

  .header__menu-item {
    margin-right: 16px;
  }

  .header__link {
    font-size: 14px;
    padding: 6px 12px;
  }

  .header__button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 740px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__logo img {
    height: 100px;
    width: auto;
  }

  .header__nav {
    width: 100%;
  }

  .header__menu {
    flex-direction: column;
    width: 100%;
    height: 200px;
  }

  .header__menu-item {
    margin: 20px auto;
  }

  .header__link,
  .header__button {
    width: 100%;
    text-align: center;
    padding: 15px 30px;
  }
}

@media (max-width: 360px) {
  .header {
    padding:  12px;
    flex-direction: column;
  }

  .header__menu-item {
    margin-bottom: 8px;
    margin-top: 20px;
  }

  .header__link,
  .header__button {
    padding: 10px 0;
  }
  .header__logo img {
    height: 89%;
    width: 20%;
  }
  .langue{
    margin-left: 80px;
  }
}
