.main-content {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  width: 100%;
  height: 40%;
   gap: 70px;
   align-items: center;
   border-radius: 10px;
  /* Ajouter un espacement entre les sections */
}
.orange-button{
  color: #d8761c;
  text-decoration: underline #d8761c; 
}


@media (min-width: 360px) {
  .main-content {
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;
      width: 50%;
  }
  .button-container {
      flex-direction: row;
      justify-content: space-between;
      width: 40%;
  }
  .orange-button{
    color: #d8761c;
    text-decoration: underline #d8761c; 
    width: 40px;
  }
  .orange-button {
 
    color: white;
    width: 370px;
    height: 20%;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
 
}

.button {
  padding: 10px 20px;
  font-size: 16px;
}
.illustration-container{
  flex-direction:50%;
}
.illustration{
  width:50%;
  flex-direction:column;
}

@media (max-width: 768px) {
  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}


.button:hover {
  opacity: 0.9;
 
}


.orange-button {
  background-color: #d8761c;
  color: white;
  width: 370px;
  height: 20%;
}

.illustration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.illustration {
  width: 300px;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  transition: transform 0.3s ease;
  margin-left: 180px;
  /* Transition pour un léger effet de zoom */
}
@media (max-width:768px) {
  .illustration{
    width: 80%; 

  }
  .illustration:hover {
    transform: scale(1.05);
    /* Léger zoom au survol */
  }
  .illustration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
 
}
.illustration:hover {
  transform: scale(1.05);
}

  