.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}
 .card {
  width: 40%;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
  margin-left: 180px;
}
.bodyCon{
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 250px;
}

.content-wrapper, .form-wrapper, .notification-wrapper, .card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.button-container {
  margin-bottom: 20px;
}

.illustration {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.button-group, .form-group {
  margin: 10px 0;
}

.button, .save-button, .cancel-button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.orange-button {
  background-color: #FF9933;
  color: #fff;
}

.orange-button:hover {
  background-color: #FF7800;
}

.logout-button, .cancel-button {
  background-color: #CC6600;
  color: #fff;
}

.notification-item {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .main-container {
      padding: 10px;
  }

  .button, .save-button, .cancel-button {
      width: 100%;
  }
}
