/* Styles pour le conteneur principal */
.container {
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
  transition: all 0.3s ease;
}

h2 {
  text-align: center;
  color: #333333;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  
}
.table-container {
  max-height: 400px; /* Définir une hauteur maximale pour le tableau */
  overflow-y: auto;  /* Activer le défilement si le contenu dépasse la hauteur */
  border: 1px solid #e0e0e0; /* Pour séparer le tableau du reste de l'interface */
  border-radius: 8px; /* Arrondir les coins du tableau */
 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
  border-radius: 5px;
}

table th, table td {
  padding: 14px;
  border: 1px solid #e0e0e0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: 400px;
}

table th {
  background-color: #00bfa6;
  color: #ffffff;
  font-size: 18px;
}

table td {
  background-color: #ffffff;
  font-size: 14px;
}

.button3 {

  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: small;
  transition: all 0.3s ease;
}

.button3:hover {
  background-color: #00bfa6;
}

.info-button {
  background-color: #42a5f5;
  color: #ffffff;
  margin-left: 5px;
}

.delete-button {
  background-color: #ef5350;
  color: #ffffff;
  margin-left: 5px;
}

.back-btn5 {
  margin-left: 20px;
  background-color: #00bfa6;
  color: #333333;
  font-size: 16px;
  border-radius: 8px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.back-btn5:hover {
  background-color: #cc6600;
  color: #ffffff;
}

/* Modal styles */
.modal {
  position: fixed;
  width: 460px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#f2f4f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-left: -10px;
  margin-top: 70px;

}

.modal-content {
  flex-direction: column;
  margin: 20px;
  margin-bottom: 20px;
}
.modal-content p {
  margin-bottom: 2px;
  padding: 10px;
  color: rgb(19, 2, 2);
  text-align: left;
 
  
}
.modal-content strong {
  margin-bottom: 5px;
  color: rgb(12, 0, 0);
  margin-left: 2px;
  text-align:left;
 

}

.close-button {
  background-color: #e67e22;
  color: white;
  margin-top: 20px;
  margin-left: 80px;
  width: 60%;
}

.confirm-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}

.confirm-button {
  background-color: #1abc9c;
  color: white;
}

.cancel-button {
  background-color: #e67e22;
  color: white;
  margin-left: 10px;
}

/* Media queries pour rendre le tableau responsive */
@media (max-width: 360px) {
  .modal {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#f6f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 12px rgba(207, 60, 60, 0.1);
    z-index: 1000;
    margin-left: -15px;

  }
  .modal-content {
    flex-direction: column;
    margin: 10px;
    margin-bottom: 10px;
  }
  .modal-content p {
    margin-bottom: 5px;
    padding: 5px;
    color: rgb(19, 2, 2);
    text-align: justify; 
    width: 80%; 
    font-size: small;
  }
  .modal-content strong {
    margin-bottom: 20px;
    color: rgb(12, 0, 0);
    margin-left: 2px;
    text-align:left;
  }
  .close-button {
    background-color: #e67e22;
    color: white;
    margin-top: 20px;
    margin-left: 35px;
    width: 60%;
  }
  .info-button {
    background-color: #42a5f5;
    color: #ffffff;
    margin-left: 5px;
    width: 150px;
    font-size: small;
  }




  .container{
    width: 200px;
    padding: 10px;
  }

  table {
    font-size: small;
  }

  table th, table td {
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }
}

/* @media (max-width: 360px) {
  .container{
    width: 100%;
    padding: 10px;
  }
  table {
    font-size: small;
    width: 100%;
  }
  table th, table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: small;
  }

  table tr {
    margin-bottom: 10px;
  }

  table th {
    text-align: left;
  }

  table td {
    text-align: left;
    padding-left: 50%;
    position: relative;
  }

  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    font-weight: bold;
  }
} */
